/* Estilos para o tema claro (padrão) */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Estilos para o tema escuro */
body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark .header {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark .button {
  background-color: #333;
  color: #ffffff;
}

body.dark .button:hover {
  background-color: #555;
}

/* Adicione mais estilos para o tema escuro conforme necessário */