.homeContainer {
  padding: 20px;
  text-align: center;
  color: #fafafa;
  background: radial-gradient(circle, #073669, #000000); /* fundo gradiente */
  min-height: 100vh; /* cobrir td a altura da tela */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeContainer h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.homeContainer p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #ffffff; 
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.gridItem {
  background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #ffffff; 
}

.gridItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(231, 221, 221, 0.2);
}

.gridItem h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.gridItem p {
  font-size: 1rem;
  margin: 10px 0;
}

.workProcess {
  margin-top: 40px;
  color: #ffffff; /* texto branco */
}

.workProcess h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.workProcess ul {
  list-style: none;
  padding: 0;
}

.workProcess li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.loginButton {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #0056b3;
}