.formContainer {
  max-width: 350px;
  margin: auto;
  margin-top: 50px; /* distância do topo */
  padding: 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8); /* fundo semi-transparente */
  border: 1px solid rgba(0, 0, 0, 0.1); /* borda sutil */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* sombra suave */
  transition: all 0.3s ease;
  opacity: 0; /* inicialmente invisível */
  transform: translateY(20px); /* deslocamento inicial */
}

.formContainer.visible {
  opacity: 1; /* torna visível */
  transform: translateY(0); /* remove o deslocamento */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.formContainer:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* sombra mais intensa no hover */
  transform: translateY(-5px); /* efeito de levantar o container */
}

.formContainer h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}



.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  text-align: left;
  font-size: 14px;
  color: #555;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
}

.forgotPassword {
  text-align: center;
  margin-top: 10px;
}

.forgotPassword a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgotPassword a:hover {
  color: #0056b3;
}

.loginLink {
  text-align: center;
  margin-top: 10px;
}

.loginLink a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.loginLink a:hover {
  color: #0056b3;
}

.registerButton {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  text-decoration: none;
  display: block;
}

.registerButton:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.registerButton:active {
  transform: translateY(0);
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #e0e0e0;
  margin-top: auto; /* Para manter o footer no final da página */
}

.footer p {
  margin: 5px 0;
  color: #333;
}

.dark .footer {
  background-color: #333;
  color: #fff;
}

.dark .footer p {
  color: #fff;
}